ul.news_list
  li.news_list_item
    a.news_list_link(href="#") NEWS1
  li.news_list_item
    a.news_list_link(href="#") NEWS2
  li.news_list_item
    a.news_list_link(href="#") NEWS3
  li.news_list_item
    a.news_list_link(href="#") NEWS4
      
