//- header
header.global
  a.logo(href="/"): img(src="/assets/img/components/logo.svg" alt="Logo")
  nav.tgl: a.tgl_btn.js-header-nav(href="javascript:void(0);")
    span
    span
    span
  nav.nav
    .nav_bg
    .nav_list
      .nav_list_in
        a.nav_item(href="/news"): span news
      
